* {
	margin: 0 auto;
	box-sizing: border-box;
	font-family: Bahnschrift SemiBold, sans-serif;
	font-size: 18px;
}

body {
	height: 100vh;
	background: linear-gradient(to top, #999, white);
	background-repeat: no-repeat;
	background-size: 100%;
	padding-top: 10%;
}

.alert {
	text-align: center;
	margin-top: 5%;
}

.form {
	display: flex;
	flex-direction: column;
	border: 2px solid #999;
	border-radius: 20px;
	width: 30%;
	padding: 3% 3% 5% 3%;
}

.fieldset {
	border: none;
	width: 100%;
}

.label-wrap {
	margin-bottom: 5%;
	text-align: center;
	margin-top: 5%;
}

.form__login, .form__password {
	width: 100%;
	border: 2px solid #999;
	border-radius: 20px;
	padding: 3%;
}

.form__login:hover, .form__password:hover {
	background-color: #999;
}

.button {
	margin-top: 10%;
	width: 90%;
	border-radius: 20px;
	border: 2px solid #999;
	padding: 2%;
	background-color: white;
}

.button:hover {
	background-color: #999;
	cursor: pointer;
}

.reg-link {
	margin-top: 5%;
	color: black;
}
